APP_URL=https://example.com
APP_ENV=production

DB_HOST=localhost
DB_PORT = 3306
DB_NAME=redm_web
DB_USER=root
DB_PASS=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://example.com/auth/callback
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=

API_SECRET_KEY=

BOT_DB_HOST=localhost
BOT_DB_PORT=3306
BOT_DB_NAME=
BOT_DB_USER=
BOT_DB_PASS=